body{

    display: flex;
    flex-direction: column;
    height:100vh;
    background-image: url(https://images.pexels.com/photos/558478/pexels-photo-558478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
  }

.navbar-brand{

  font-size: 29px;

  }

#navbar{


  background-color: rgba(255, 255, 255, 0);
  

}

#button2{


border-color: white;
border-radius: 8px;



}

#button2:hover{


  transform: scale(1.1);
  
}



.p1{



    font-size: 3em;
    text-align: center;
    color: rgb(255, 251, 246);
    font-family: 'inter';
    padding-bottom: 10px;
}

#parrafo1{

 font-family: 'inter';
  color: white;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;


}
/* button custom css properties */

.button {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  background-color: #f4501ec9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* button custom css properties */

.container-fluid {

  padding-top: 80px;
  

}


  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }